.sidebar-container{
    width: 250px;
    background-color: #1b3656;
    height: 100vh;
    transition: transform 0.3s ease;
    /* transform: translateX(-250px); */
}

.sidebar-container .sidebar-list{
    display: flex;
    flex-grow: fill;
    flex-direction: column;
    align-items: baseline;
}
.sidebar-container .sidebar-list .list-item{
    color: #ffffff !important;
    font: normal normal 600 16px/22px Arial;
    text-decoration: none;
}